<div class="container">
  <div class="profile">
    <div class="image-profile">
      <img src="assets/avatar.jpg" />
    </div>
    <div class="info">
      <div class="name">Duong Viet Linh</div>
      <div class="info-detail">
        <div class="information">
          <div class="info-label">Date of birth:</div>
          <div class="info">Aug 29, 1998</div>
        </div>
        <div class="information">
          <div class="info-label">Gender:</div>
          <div class="info">Male</div>
        </div>
        <div class="information">
          <div class="info-label">Phone:</div>
          <div class="info">0973972084</div>
        </div>
        <div class="information">
          <div class="info-label">Email:</div>
          <div class="info">Linhdv2211@gmail.com</div>
        </div>
        <div class="information">
          <div class="info-label">Address:</div>
          <div class="info">Le Mat Village, Long Bien County, Ha Noi</div>
        </div>
        <div class="information">
          <div class="info-label">Website:</div>
          <div class="info">fb.com/linhdv2211</div>
        </div>
      </div>
    </div>
  </div>
  <div class="expect-job">
    <div class="title">EXPECTED JOB</div>
    <div class="divider"></div>
    <div class="description">
      - Type: Fulltime <br/><br/>
      - Positive: General Software Engineer <br/><br/>
      - Objective: I am currently looking for a full time position in an stability environment
      that offers a greater challenge to use and perfect my skills and study new
      technical.
    </div>
  </div>
  <div class="education">

  </div>
</div>
