.container {
    box-shadow: 0 0 #0000,0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    width: 80%;
    padding: 20px 20px;

    .profile {
        display: flex;
        justify-items: center;

        .image-profile {
            padding-right: 50px;
            img {
                height: 200px;
                width: auto;
            }
        }

        .info {
            .name {
                font-size: 30px;
                font-weight: 600;
            }
            .info-detail {
                display: flex;
                flex-direction: column;
                padding-top: 10px;

                .information {
                    display: flex;
                    align-content: center;

                    .info-label {
                        line-height: 16px;
                        font-weight: 600;
                        padding-right: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .expect-job, .education, .work-experience, .skill-container {
        padding-top: 30px;
        
        .title {
            font-size: 18px;
            font-weight: 600;
            line-height: 20px;
        }

        .description {
            padding-top: 20px;
        }

        .education-info {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            
            .year-study {
                width: 250px;
            }

            .school-major {
                .school {
                    font-weight: 600;
                    padding-bottom: 5px;
                }

                .marjor {
                    padding-bottom: 5px;
                }
            }
        }

        .experience-info {
            padding-top: 20px;
            display: flex;
            flex-direction: row;
            border-bottom: 1px inset;
            padding-bottom: 10px;
            
            .year-exp {
                width: 250px;
            }

            .info-exp {
                .company {
                    font-weight: 600;
                    padding-bottom: 5px;
                }

                .position {
                    padding-bottom: 5px;
                }
            }
        }
        .skill-info {
            padding-top: 20px;
            display: flex;
            border-bottom: 1px inset;
            padding-bottom: 10px;
            
            .skill-name {
                width: 250px;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
            }

            
        }
    }
    
}

.divider {
    border-bottom: 1px solid black;
    padding-top: 5px;
}