<div class="container">
  <div class="profile">
    <div class="image-profile">
      <img src="assets/avatar.jpg" />
    </div>
    <div class="info">
      <div class="name">Duong Viet Linh</div>
      <div class="info-detail">
        <div class="information">
          <div class="info-label">Date of birth:</div>
          <div class="info">Aug 29, 1998</div>
        </div>
        <div class="information">
          <div class="info-label">Gender:</div>
          <div class="info">Male</div>
        </div>
        <div class="information">
          <div class="info-label">Phone:</div>
          <div class="info">0973972084</div>
        </div>
        <div class="information">
          <div class="info-label">Email:</div>
          <div class="info">Linhdv2211@gmail.com</div>
        </div>
        <div class="information">
          <div class="info-label">Address:</div>
          <div class="info">Le Mat Village, Long Bien County, Ha Noi</div>
        </div>
        <div class="information">
          <div class="info-label">Website:</div>
          <div class="info">fb.com/linhdv2211</div>
        </div>
      </div>
    </div>
  </div>
  <div class="expect-job">
    <div class="title">EXPECTED JOB</div>
    <div class="divider"></div>
    <div class="description">
      - Type: Fulltime <br/><br/>
      - Positive: General Software Engineer <br/><br/>
      - Objective: I am currently looking for a full time position in an stability environment
      that offers a greater challenge to use and perfect my skills and study new
      technical.
    </div>
  </div>
  <div class="education">
    <div class="title">EDUCATION</div>
    <div class="divider"></div>
    <div class="education-info">
      <div class="year-study">2016 - 2020</div>
      <div class="school-major">
        <div class="school">FPT University</div>
        <div class="marjor">Major: Software Engineering</div>
        <div class="gpa">GPA: 7.1/10</div>
      </div>
    </div>
  </div>
  <div class="work-experience">
    <div class="title">WORK EXPERIENCE</div>
    <div class="divider"></div>
    <div class="experience-info">
      <div class="year-exp">Jul 2021 - Present</div>
      <div class="info-exp">
        <div class="company">GMO-Z.com RUNSYSTEM</div>
        <div class="position">Developer</div>
        <div class="programing">Angular 8+</div>
      </div>
    </div>
    <div class="experience-info">
      <div class="year-exp">Sep 2020 - Jul 2021</div>
      <div class="info-exp">
        <div class="company">HYPERLOGY CORPORATION</div>
        <div class="position">Developer</div>
        <div class="programing">Angular & Java</div>
      </div>
    </div>
    <div class="experience-info">
      <div class="year-exp">May 2019 - Oct 2019</div>
      <div class="info-exp">
        <div class="company">FPT SOFTWARE</div>
        <div class="position">Intership</div>
        <div class="programing">C#</div>
      </div>
    </div>
  </div>
  <div class="skill-container">
    <div class="title">SKILL</div>
    <div class="divider"></div>
    <div class="skill-info">
      <div class="skill-name">Programming Languages</div>
      <div class="skill-detail">JavaScript & TypeScript, Java, C, C#</div>
    </div>
    <div class="skill-info">
      <div class="skill-name">Frameworks/Platforms </div>
      <div class="skill-detail">Angular CLI</div>
    </div>
    <div class="skill-info">
      <div class="skill-name">Tools</div>
      <div class="skill-detail">Inteliji, Visual Studio, Visual Studio Code, NetBeans</div>
    </div>
    <div class="skill-info">
      <div class="skill-name">Tool manage code</div>
      <div class="skill-detail">Git, Gitlab, SVN</div>
    </div>
    <div class="skill-info">
      <div class="skill-name">Other</div>
      <div class="skill-detail">Bootstrap, MaterialUI, Data structure and Algorithm, OOP, Teamwork, Communication
        </div>
    </div>
  </div>
</div>
