<div class="eq-pc">
  <div class="container">
    <div class="title">
        Hello world,
    </div>
    <div class="sub-title">
        My name is Viet Linh. I am currently working as a Jr. Engineer at Nrwl . Follow us at @nrwl_io
    </div>
    <div class="content">
        This is the place that I use to share my knowledge about programming and personal stuffs. That said, the blog will focus on Web Technologies like Angular , TypeScript , and other related technologies. Additionally, I also blog about random things like "how I wipe my machine once every six months" . This blog is powered by Astro
    </div>
    <div class="end-content">
        I hope you will gain something (some knowledge, some argument worth argue for, or maybe a smile) here on this blog. If you have any question, or absolutely anything at all, please do not hesitate to reach out to me on any of the social medium listed in the info box. See y'all around
    </div>
  </div>
</div>
